<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
    <div class="container wrapper">
        {{ partial "head.html" . }}
        {{ with .Content }}{{ . }}{{ end }}
        <div class="recent-posts section">
            <h2 class="section-header">
                {{ if in .Permalink "/travel/" }}
                    Последние посты про путешествия
                {{ else if in .Permalink "/programming/" }}
                    Последние посты о мамкином программисте
                {{ else }}
                    Последние посты в {{ .Section }}
                {{ end }}
            </h2>
            <div class="posts">
                {{ $pages := .Pages }}
                {{ if gt (len $pages) 0 }}
                    {{ range $pages }}
                        <div class="post">
                            <a href="{{ .RelPermalink }}" class="post-link">
                                <div class="post-content">
                                    <div class="post-header">
                                        <h3 class="title">{{ .Title }}</h3>
                                        <p class="description">
                                            {{ if .Params.description }}
                                                {{ .Params.description }}
                                            {{ else }}
                                                {{ .Summary }}&hellip;
                                            {{ end }}
                                        </p>
                                        <div class="meta">
                                            {{ if .Date }}
                                                Опубликован &mdash; {{ dateFormat "2 January 2006" .Date }}
                                            {{ else }}
                                                Публикации ещё нет
                                            {{ end }}
                                               {{ if .Params.travelDate }}
                                                    {{ $dates := split .Params.travelDate "|" }}
                                                    {{ if eq (len $dates) 2 }}
                                                        {{ $startDate := index $dates 0 }}
                                                        {{ $endDate := index $dates 1 }}
                                                        <p class="datastyle">Даты поездки &mdash; {{ dateFormat "2 January 2006" $startDate }} - {{ dateFormat "2 January 2006" $endDate }}</p>
                                                    {{ else if eq (len $dates) 1 }}
                                                        {{ $singleDate := index $dates 0 }}
                                                        <p class="datastyle">Дата поездки &mdash; {{ dateFormat "2 January 2006" $singleDate }}</p>
                                                    {{ end }}
                                                {{ end }}
                                            {{ if .Params.draft }} <span class="draft-label">DRAFT</span> {{ end }}
                                        </div>
                                    </div>
                                </div>
                                {{ with .Params.image }}
                                    <img src="{{ . }}" alt="Thumbnail" class="post-thumbnail">
                                {{ end }}
                            </a>
                        </div>
                    {{ end }}
                {{ else }}
                    <p>Все посты в {{ if in .Permalink "/travel/" }} путешествиях {{ else if in .Permalink "/programming/" }} программировании {{ else }} этом разделе {{ end }} куда-то разбежались</p>
                {{ end }}
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>
</html>
