<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<head>
    <link rel="canonical" href="{{ .Permalink }}">
</head>
<body>
    <div class="container wrapper post">
        {{ partial "head.html" . }}

        <div class="post-header">
            <h1 class="title">{{ .Title }}</h1>
            {{ if .Description }}
                <div class="description">{{ .Description }}</div>
            {{ end }}
            {{ if not (in .Permalink "/about/") }}
                <div class="meta">
                    {{ if .Date }}
                        Опубликован &mdash; {{ dateFormat "2 January 2006" .Date }}
                    {{ else }}
                        Публикации ещё нет
                    {{ end }}
                    {{ if .Params.travelDate }}
                        {{ $dates := split .Params.travelDate " | " }}
                        {{ if eq (len $dates) 2 }}
                            {{ $startDate := index $dates 0 }}
                            {{ $endDate := index $dates 1 }}
                            <br>Дата поездки &mdash; {{ dateFormat "02 January 2006" (time $startDate) }} - {{ dateFormat "02 January 2006" (time $endDate) }}
                        {{ else if eq (len $dates) 1 }}
                            {{ $singleDate := index $dates 0 }}
                            <br>Дата поездки &mdash; {{ dateFormat "02 January 2006" (time $singleDate) }}
                        {{ end }}
                    {{ end }}
                    {{ if .Draft }}
                        <span class="draft-label">DRAFT</span>
                    {{ end }}
                </div>
            {{ end }}
        </div>

        <div class="markdown">
            {{ .Content }}
        </div>

        <div class="post-tags">
            {{ if ne .Type "page" }}
                {{ $tags := slice }}
                {{ if .Params.tags }}
                    {{ if reflect.IsSlice .Params.tags }}
                        {{ $tags = .Params.tags }}
                    {{ else }}
                        {{ $tags = split .Params.tags ", " }}
                    {{ end }}
                {{ end }}
                {{ if gt (len $tags) 0 }}
                    <nav class="nav tags">
                        <ul class="flat">
                            {{ range $tags }}
                                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                            {{ end }}
                        </ul>
                    </nav>
                {{ end }}
            {{ end }}
        </div>

        {{ if not (in .Permalink "/about/") }}
            {{- partial "telegram_comments.html" . -}}
        {{ end }}

    </div>
    {{ partial "footer.html" . }}
</body>
</html>
