<!DOCTYPE html> 
<html>
{{ partial "header.html" . }}
<body>
    <div class="container wrapper">
        {{ partial "head.html" . }}

        <!-- Секция Travel -->
        <div class="recent-posts section travel">
            <h2 class="section-header">Последние посты про путешествия</h2>
            {{ $travelPosts := (where .Site.RegularPages "Params.section" "travel") }}
            {{ template "renderPolaroidPosts" $travelPosts }}
        </div>

        <!-- Секция Велопедеразм -->
        <div class="recent-posts section bicycle">
            <h2 class="section-header">Последние посты про велопедеразм</h2>
            {{ $bicyclePosts := (where .Site.RegularPages "Params.section" "bicycle") }}
            {{ template "renderPolaroidPosts" $bicyclePosts }}
        </div>

        <!-- Секция Головные мюсли -->
        <div class="recent-posts section life">
            <h2 class="section-header">Последние посты про мюсли</h2>
            {{ $lifePosts := (where .Site.RegularPages "Params.section" "life") }}
            {{ template "renderPolaroidPosts" $lifePosts }}
        </div>

    </div>

    {{ partial "footer.html" . }}

    <!-- Шаблон для вывода постов в формате Polaroid -->
    {{ define "renderPolaroidPosts" }}
        {{ $posts := . }}
        <div class="posts-grid">
            {{ $postCount := len $posts }}
            {{ if eq $postCount 1 }}
                <!-- Один пост по центру -->
                <div class="post polaroid center-column">
                    {{ $post := index $posts 0 }}
                    <a href="{{ $post.RelPermalink }}">
                        <div class="post-image">
                            {{ with $post.Params.image }}
                                <img src="{{ . }}" alt="Thumbnail">
                            {{ end }}
                        </div>
                        <div class="post-content">
                            <div class="post-header">
                                <h3 class="title">{{ $post.Title }}</h3>
                                <p class="description">
                                    {{ if $post.Params.description }}
                                        {{ $post.Params.description }}
                                    {{ else }}
                                        {{ $post.Summary }}&hellip;
                                    {{ end }}
                                </p>
                                <div class="meta">
                                    {{ if $post.Date }}
                                        Опубликован &mdash; {{ dateFormat "2 January 2006" $post.Date }}
                                    {{ else }}
                                        Публикации ещё нет
                                    {{ end }}
                                    {{ if $post.Params.travelDate }}
                                        {{ $dates := split $post.Params.travelDate "|" }}
                                        {{ if eq (len $dates) 2 }}
                                            {{ $startDate := index $dates 0 }}
                                            {{ $endDate := index $dates 1 }}
                                            <p class="datastyle">Даты поездки &mdash; {{ dateFormat "2 January 2006" $startDate }} - {{ dateFormat "2 January 2006" $endDate }}</p>
                                        {{ else if eq (len $dates) 1 }}
                                            {{ $singleDate := index $dates 0 }}
                                            <p class="datastyle">Дата поездки &mdash; {{ dateFormat "2 January 2006" $singleDate }}</p>
                                        {{ end }}
                                    {{ end }}
                                    {{ if $post.Params.draft }} <span class="draft-label">DRAFT</span> {{ end }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{ else if eq $postCount 2 }}
                <!-- Два поста по краям -->
                {{ range $i, $post := $posts }}
                    <div class="post polaroid {{ if eq $i 0 }}left-column{{ else }}right-column{{ end }}">
                        <a href="{{ $post.RelPermalink }}">
                            <div class="post-image">
                                {{ with $post.Params.image }}
                                    <img src="{{ . }}" alt="Thumbnail">
                                {{ end }}
                            </div>
                            <div class="post-content">
                                <div class="post-header">
                                    <h3 class="title">{{ $post.Title }}</h3>
                                    <p class="description">
                                        {{ if $post.Params.description }}
                                            {{ $post.Params.description }}
                                        {{ else }}
                                            {{ $post.Summary }}&hellip;
                                        {{ end }}
                                    </p>
                                    <div class="meta">
                                        {{ if $post.Date }}
                                            Опубликован &mdash; {{ dateFormat "2 January 2006" $post.Date }}
                                        {{ else }}
                                            Публикации ещё нет
                                        {{ end }}
                                        {{ if $post.Params.travelDate }}
                                            {{ $dates := split $post.Params.travelDate "|" }}
                                            {{ if eq (len $dates) 2 }}
                                                {{ $startDate := index $dates 0 }}
                                                {{ $endDate := index $dates 1 }}
                                                <p class="datastyle">Даты поездки &mdash; {{ dateFormat "2 January 2006" $startDate }} - {{ dateFormat "2 January 2006" $endDate }}</p>
                                            {{ else if eq (len $dates) 1 }}
                                                {{ $singleDate := index $dates 0 }}
                                                <p class="datastyle">Дата поездки &mdash; {{ dateFormat "2 January 2006" $singleDate }}</p>
                                            {{ end }}
                                        {{ end }}
                                        {{ if $post.Params.draft }} <span class="draft-label">DRAFT</span> {{ end }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{ end }}
            {{ else if ge $postCount 3 }}
                <!-- Три или больше постов -->
                {{ range $i, $post := first 3 $posts }}
                    <div class="post polaroid {{ if eq $i 0 }}left-column{{ else if eq $i 1 }}center-column{{ else }}right-column{{ end }}">
                        <a href="{{ $post.RelPermalink }}">
                            <div class="post-image">
                                {{ with $post.Params.image }}
                                    <img src="{{ . }}" alt="Thumbnail">
                                {{ end }}
                            </div>
                            <div class="post-content">
                                <div class="post-header">
                                    <h3 class="title">{{ $post.Title }}</h3>
                                    <p class="description">
                                        {{ if $post.Params.description }}
                                            {{ $post.Params.description }}
                                        {{ else }}
                                            {{ $post.Summary }}&hellip;
                                        {{ end }}
                                    </p>
                                    <div class="meta">
                                        {{ if $post.Date }}
                                            Опубликован &mdash; {{ dateFormat "2 January 2006" $post.Date }}
                                        {{ else }}
                                            Публикации ещё нет
                                        {{ end }}
                                        {{ if $post.Params.travelDate }}
                                            {{ $dates := split $post.Params.travelDate "|" }}
                                            {{ if eq (len $dates) 2 }}
                                                {{ $startDate := index $dates 0 }}
                                                {{ $endDate := index $dates 1 }}
                                                <p class="datastyle">Даты поездки &mdash; {{ dateFormat "2 January 2006" $startDate }} - {{ dateFormat "2 January 2006" $endDate }}</p>
                                            {{ else if eq (len $dates) 1 }}
                                                {{ $singleDate := index $dates 0 }}
                                                <p class="datastyle">Дата поездки &mdash; {{ dateFormat "2 January 2006" $singleDate }}</p>
                                            {{ end }}
                                        {{ end }}
                                        {{ if $post.Params.draft }} <span class="draft-label">DRAFT</span> {{ end }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}

</body>
</html>
