{{ $id := .Get "id" }}
{{ $imagesParam := .Get "images" }}
{{ $captionsParam := .Get "captions" }}
{{ $images := split $imagesParam "," }}
{{ $captions := split $captionsParam "|" }}
{{ $dots := .Get "dots" | default "true" }}
{{ $arrows := .Get "arrows" | default "true" }}
{{ $autoplay := .Get "autoplay" | default "true" }}
{{ $speed := .Get "speed" | default "500" }}

<style>
    .slick-carousel-wrapper {
        position: relative;
        margin-bottom: 60px;
    }

    .slick-carousel {
        width: 760px;
        height: 590px;
        overflow: hidden;
        position: relative;
        margin-bottom: 25px;
    }

    .slick-carousel .slick-slide {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d6d6d6;
    }

    .slick-carousel .slick-slide img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: auto;
    }

    .slick-prev, .slick-next {
        background: none;
        border: none;
        cursor: pointer;
        border-radius: 60%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1;
        z-index: 10;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        opacity: .7;
        color: white;
        line-height: 1;
        z-index: 1;
    }

    .slick-carousel-caption {
        position: absolute;
        bottom: -35px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 8px;
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        max-width: 760px;
        text-align: center;
        font-family: Telegram Sans, sans-serif;
        font-size: 1.1rem;
        color: #000000;
        line-height: 1.2;
        z-index: 5;
    }

    .h4 {
        font-family: Telegram Sans, sans-serif;
        line-height: 1.2;
        color: #000000;
        font-weight: 200;
        font-size: 1.2rem;
    }

    @media (max-width: 767px) {
        .slick-carousel {
            width: 100%;
            height: auto;
        }

        .slick-carousel .slick-slide img {
            max-width: 100%;
            height: auto;
        }

        .slick-carousel-caption {
            width: 100%;
            font-size: 0.9rem;
        }

        .slick-prev, .slick-next {
            font-size: 12px;
        }
    }
</style>

<div class="slick-carousel-wrapper" id="{{ $id }}">
    <div class="slick-carousel" data-dots="{{ $dots }}" data-arrows="{{ $arrows }}" data-autoplay="{{ $autoplay }}" data-speed="{{ $speed }}">
        {{ range $index, $image := $images }}
            <div class="slick-slide">
                <img src="{{ $image }}" alt="{{ index $captions $index }}">
            </div>
        {{ end }}
    </div>

    <button type="button" class="slick-prev">Previous</button>
    <button type="button" class="slick-next">Next</button>
    <figcaption class="slick-carousel-caption h4">{{ index $captions 0 }}</figcaption>
</div>

<script>
    $(document).ready(function(){
        var carouselID = "#{{ $id }}";
        var $wrapper = $(carouselID);
        var $carousel = $wrapper.find('.slick-carousel');
        var $caption = $wrapper.find('.slick-carousel-caption');

        $carousel.on('init', function(event, slick){
            var captionText = $(slick.$slides[0]).find('img').attr('alt');
            $caption.text(captionText);
        });

        $carousel.on('beforeChange', function(event, slick, currentSlide, nextSlide){
            var nextCaption = $(slick.$slides[nextSlide]).find('img').attr('alt');
            $caption.text(nextCaption);
        });

        $carousel.slick({
            dots: $carousel.data('dots') === "true",
            arrows: $carousel.data('arrows') === "true",
            autoplay: $carousel.data('autoplay') === "true",
            speed: parseInt($carousel.data('speed')),
            slidesToShow: 1,
            slidesToScroll: 1,
            prevArrow: $wrapper.find('.slick-prev'),
            nextArrow: $wrapper.find('.slick-next')
        });

        $wrapper.find('.slick-prev').click(function(){
            $carousel.slick('slickPrev');
        });

        $wrapper.find('.slick-next').click(function(){
            $carousel.slick('slickNext');
        });

        $(window).on('resize', function(){
            adjustCarouselHeight($carousel.slick('getSlick'), $carousel);
        });

        function adjustCarouselHeight(slick, carousel) {
            if (window.innerWidth <= 767) {
                var maxHeight = 0;
                slick.$slides.each(function() {
                    var imgHeight = $(this).find('img').height();
                    if (imgHeight > maxHeight) {
                        maxHeight = imgHeight;
                    }
                });
                carousel.css('height', maxHeight);
                slick.$slides.css('height', maxHeight);
            } else {
                carousel.css('height', '590px');
                slick.$slides.css('height', '590px');
            }
        }
    });
</script>
