<style>
    .slick-carousel-wrapper {
        position: relative;
        margin-bottom: 30px; /* Уменьшаем отступ подписи */
    }

    .slick-carousel {
        width: 100%; /* Ширина слайдера на всю ширину контейнера */
        max-width: 760px; /* Максимальная ширина слайдера */
        margin: 0 auto; /* Центрируем слайдер по горизонтали */
        overflow: hidden;
        position: relative;
    }

    .slick-carousel .slick-slide {
        width: 100%; /* Ширина слайда на всю ширину слайдера */
        height: auto; /* Высота будет автоматически подстраиваться */
        text-align: center; /* Центрируем изображение */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d6d6d6; /* Цвет фона */
    }

    .slick-carousel .slick-slide img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: auto; /* Центрирование изображения */
    }

    .slick-prev, .slick-next {
        background: none;
        border: none;
        cursor: pointer;
        border-radius: 50%; /* Круглые стрелки */
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1;
        z-index: 10;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        opacity: .7;
        color: white;
        line-height: 1;
        z-index: 1;
    }

    .slick-carousel-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
        padding: 10px; /* Внутренние отступы */
        box-sizing: border-box;
        margin: 0;
        text-align: center;
        font-family: Telegram Sans, sans-serif;
        font-size: 14px; /* Размер шрифта под мобильные устройства */
        color: #000000; /* Цвет текста */
        line-height: 1.2; /* Межстрочный интервал */
        z-index: 5; /* Подпись поверх других элементов */
    }

    @media (max-width: 767px) {
        .slick-carousel {
            max-width: 100%; /* Для мобильных устройств ширина будет 100% */
        }

        .slick-carousel .slick-slide img {
            height: auto; /* Автоматическое масштабирование высоты */
        }

        .slick-prev, .slick-next {
            font-size: 12px; /* Уменьшаем размер стрелок */
        }
    }
</style>
