{{ $file := .Get 0 }}
{{ $path := (print "static" $file) }}
{{ with .Site.GetPage "page" $path }}
  {{ $csv := readFile $path }}
  {{ $data := $csv | transform.UnmarshalCSV }}
  <table>
    <thead>
      <tr>
        {{ range index $data 0 }}
          <th>{{ . }}</th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ range after 1 $data }}
        <tr>
          {{ range . }}
            <td>{{ . }}</td>
          {{ end }}
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ else }}
  {{ errorf "The %q shortcode was unable to find %s. See %s" $.Name $file $.Position }}
{{ end }}
