{{ $file := .Get 0 }}
{{ $column := .Get 1 }}

{{ with resources.Get (printf "csv/%s" $file) }}
  {{ with . | transform.Unmarshal }}
    <table>
      <thead>
        <tr>
          {{ $headers := index . 0 }}
          {{ range $headers }}
            <th>{{ . }}</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range . }}
          {{ $row := . }}
          {{ if eq (index $row 0) $column }}
            <tr>
              {{ range $index, $cell := $row }}
                <td data-label="{{ index $headers $index }}">{{ $cell }}</td>
              {{ end }}
            </tr>
          {{ end }}
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    {{ errorf "The %q shortcode failed to unmarshal CSV data from %s. See %s" $.Name $file $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode was unable to find the CSV file %q. See %s" $.Name $file $.Position }}
{{ end }}
