{{ $file := .Get 0 }}
{{ $column := .Get 1 }}

{{ with resources.Get (printf "csv/%s" $file) }}
  {{ with . | transform.Unmarshal }}
    <div class="table-container">
      <table class="responsive-table">
        <thead>
          <tr>
            {{ range index . 0 }}
              <th>{{ . }}</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range . }}
            {{ $row := . }}
            {{ if eq (index $row 0) $column }}
              <tr>
                {{ range $row }}
                  <td>{{ . }}</td>
                {{ end }}
              </tr>
            {{ end }}
          {{ end }}
        </tbody>
      </table>
    </div>
  {{ else }}
    {{ errorf "The %q shortcode failed to unmarshal CSV data from %s. See %s" $.Name $file $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode was unable to find the CSV file %q. See %s" $.Name $file $.Position }}
{{ end }}
